<% if(message.length > 0){ %>
  <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a>
      <i class="fa fa-coffee"></i>
      <strong><%= message %></strong>
  </div>
<% } %>


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Energy Visualizer |Home</title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">

  <link rel="manifest" href="/images/site.webmanifest">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/css/home.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/css/tailwind.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b90adf908b.js" crossorigin="anonymous"></script>
</head>

<body class="font-serif">
  <header style="background-image:url('/images/bg-01.jpg'); background-size:cover; background-repeat:no-repeat">
    <!-- site-navbar start -->
    <div class="navbar-area bg-blue-200 bg-transparent">
      <div class="containernav">
        <nav class="site-navbar">
          <!-- site logo -->
          <a href="http://localhost:3000/home/<%=username%>" class="site-logo">
            <img src="/images/logo.png" alt="">
          </a>

          <!-- site menu/nav -->
          <ul>
            <!-- <li><a href="#">Login</a></li> -->
            <li><a href="http://localhost:3000/home/<%=username%>">Home</a></li>
            <li><a href="http://localhost:3000/view/<%=username%>">Graph</a></li>
            <li><a href="http://localhost:3000/profile/<%=username%>">Profile</a></li>
            <li><a href="http://localhost:3000">Log out</a></li>
          </ul>

          <!-- nav-toggler for mobile version only -->
          <button class="nav-toggler">
            <span></span>
          </button>
        </nav>
      </div>
    </div><!-- navbar-area end -->

    <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 flex flex-col justify-center">
            <div class="welcometext text-2xl">Energy Visualizer is an energy management system which displays the graphical view of your electricity readings.</div>
            <br>
            <button class="btn btn-primary btn-lg active">
            <li><a href="http://localhost:3000/view/<%=username%>">Visualize now</a></li>
            </button>
          </div>
          <div class="col-sm-6 col-md-6 flex flex-col justify-center">
            <img src="/images/hiclipart.com.png" style="max-width:100%; max-height:100%;">
          </div>
        </div>
    </div>

  </header>

  <footer id="footer">
    <div class="footer">
      <ul class="social list-unstyled mt-4 flex justify-center">
        <div class="contact-text h4">
          <p><em>Contact Us At:</em></p>
        </div>
        <li>
          <a href="mailto:dummy@gmail.com" target="_blank" class="fa fa-2x fa-envelope icon"></a>
        </li>
      </ul>
      <div class="text-copyright">
        <p class="m-0 pb-2">
          © Copyright <strong>Energy Visualizer</strong> | 2021
        </p>
      </div>
    </div>
  </footer>
  <script>
    //Navbar code

    // define all UI variable
    const navToggler = document.querySelector('.nav-toggler');
    const navMenu = document.querySelector('.site-navbar ul');
    const navLinks = document.querySelectorAll('.site-navbar a');

    // load all event listners
    allEventListners();

    // functions of all event listners
    function allEventListners() {
      // toggler icon click event
      navToggler.addEventListener('click', togglerClick);
      // nav links click event
      navLinks.forEach(elem => elem.addEventListener('click', navLinkClick));
    }

    // togglerClick function
    function togglerClick() {
      navToggler.classList.toggle('toggler-open');
      navMenu.classList.toggle('open');
    }

    // navLinkClick function
    function navLinkClick() {
      if (navMenu.classList.contains('open')) {
        navToggler.click();
      }
    }
  </script>
</body>

</html>
